<ion-content class="content-bg">
 
  <div class="header">
    <img src="assets/logo.png" alt="Reminiscencias" class="logo">
 
  </div>

  <ion-card class="section-title">
    <ion-card-header>
      <ion-card-title>PERSONAJES</ion-card-title>
    </ion-card-header>
  </ion-card>


  <div class="characters-grid">
    <ion-card class="character-card">
      <ion-card-header>
        <ion-card-title class="character-name">MATEO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/mateo.png" alt="Mateo" class="character-image">
        <ion-button (click)="goTojugador()">Ir</ion-button>
        <ion-button fill="clear" color="medium">Inspeccionar</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="character-card">
      <ion-card-header>
        <ion-card-title class="character-name">SEBASTIAN</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/sebastian.png" alt="Sebastian" class="character-image">
        <ion-button (click)="goTojugador2()">Ir</ion-button>
        <ion-button fill="clear" color="medium">Inspeccionar</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="character-card">
      <ion-card-header>
        <ion-card-title class="character-name">GORDO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/gordo.png" alt="Gordo" class="character-image">
        <ion-button (click)="goTojugador2()">Ir</ion-button>
        <ion-button fill="clear" color="medium">Inspeccionar</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="character-card">
      <ion-card-header>
        <ion-card-title class="character-name">CUBO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/cubo.png" alt="Cubo" class="character-image">
        <ion-button (click)="goTojugador2()">Ir</ion-button>
        <ion-button fill="clear" color="medium">Inspeccionar</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="character-card">
      <ion-card-header>
        <ion-card-title class="character-name">KAMILO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/kamilo.png" alt="Kamilo" class="character-image">
        <ion-button (click)="goTojugador2()">Ir</ion-button>
        <ion-button fill="clear" color="medium">Inspeccionar</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="character-card">
      <ion-card-header>
        <ion-card-title class="character-name">PIPE</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/pipe.png" alt="Pipe" class="character-image">
        <ion-button (click)="goTojugador2()">Ir</ion-button>
        <ion-button fill="clear" color="medium">Inspeccionar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
