<ion-content>
  <div class="fondo-container"></div>

  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" />
  </div>

  <div class="login-container">
    <h2>Iniciar sesión</h2>

    <!-- Campo de Usuario -->
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario" type="text" required></ion-input>
    </ion-item>

    <!-- Campo de Contraseña -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="contrasena" type="password" required></ion-input>
    </ion-item>

    <!-- Botón Ingresar -->
    <ion-button class="ingresar-button" (click)="goToIngresar()">Ingresar</ion-button>
  </div>
</ion-content>
