<ion-content>
  <div class="fondo-container"></div>

  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" />
  </div>

  <div class="login-container">
    <h2>Registrar</h2>

    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apodo</ion-label>
      <ion-input [(ngModel)]="apodo" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="contrasena" type="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input [(ngModel)]="contrasenaConfirmar" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="registrar()">Registrar</ion-button>
  </div>
</ion-content>
